/target/
/.idea/
/.vscode/
**/*.pyc
__pycache__/
.DS_Store
.venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwzw
*.pyzwzwzwzw
*.pyzwzwzwzwzw
build/
gliner_pii.egg-info/